
html {
overflow-y : scroll;
direction : rtl;
}
body {
margin : 0;
padding : 0;
text-align : right;
min-width : 960px;
font : 12px "tahoma";
background : #e9eaed;
}
    .loader{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,.8) url('../images/loading.gif') no-repeat 50% 50% ;
    }
#eddd{
        position: relative;
          
           min-height: 100px;
  
        
}
.wrapper {
margin : 0 auto;
min-width : 980px;
}
#container {
float : none !important ;
margin : 0 auto;
width : 960px;
}
.colornumgood{
background: #87D37C;
padding : 1px 5px 3px 5px;
border-radius: 3px;
}
.colornum{
background: #F47983;
padding : 1px 5px 3px 5px;
border-radius: 3px;
}
.clearfooter {
height : 40px;
clear : both;
}
#footer {
height : 230px;
position : relative;
background : #303136;
}
#footer > div {
text-align : right;
width : 940px;
margin : 0 auto;
}
#facebox .body {
width : 20px;
}
#facebox {
position : absolute;
top : 0;
right : 0;
z-index : 100;
text-align : right;
}
#facebox .popup {
position : fixed;
margin: 10% auto;
width: 100%;
    top: 10%;
    left: 0;
    right: 0;
    max-width: 450px;
    min-width: 250px;
border : #6c7a89 solid 1px;
border : #eee solid 1px;
outline : none;
box-shadow : 0 3px 7px rgba(0, 0, 0, 0.3);
background : padding-box #fff;
    height: 100%;
        max-height: 450px;
    min-height: 250px;
}
#facebox .contentbox {


}
#facebox .close {
width : 20px;
height : 20px;
position : absolute;
top : 12px;
right : 5px;
padding : 2px;
background : #fff;
}
#facebox .close img {
width : 20px;
height : 20px;
opacity : 1;
}
#facebox .close:hover img {
opacity : 1;
}
#facebox_overlay {
position : fixed;
top : 0;
left : 0;
height : 100%;
width : 100%;
}
.facebox_overlayBG {
z-index : 99;
background : #000;
}
.nav {
margin-bottom : 20px;
margin-left : 0;
list-style : none;
}
.nav > li > a {
display : block;
}
.nav > li > .menus {
display : block;
}
.nav > li > a:hover, .nav > li > a:focus {
text-decoration : none;
background : #eee;
}
.nav > li > a > img {
max-width : none;
}
.nav > .pull-right {
float : right;
}
.nav-header {
display : block;
padding : 3px 15px;
font-weight : 700;
line-height : 20px;
color : #999;
text-transform : uppercase;
}
.nav-list > li a {
color : #7f8c8d;
text-decoration : none;
height : 25px;
}
.menucv {
display : block;
border : #ccc solid 1px;
padding : 25px 8px 8px;
text-align : center;
}
.menusearch {
display : block;
border : #ccc solid 1px;
padding : 25px 8px 8px;
text-align : right;
}
.imgsearch {
height : 14px;
opacity : 0.699999988079071044921875;
}
.bordbottom {
height : 45px;
border-bottom : 1px solid #ccc;
}
.tools {
text-align : right;
padding-right : 5px;
}
.row {
clear : both;
}
[class*="span"] {
float : right;
min-height : 1px;
}
.span9 {
width : 730px;
background : #fff;
border : #ccc solid 1px;
padding : 10px;
margin-right : 8px;
}
.span3 {
width : 198px;
background : #fff;
}
.span1 {
width : 956px;
border : #ccc solid 1px;
background : #fff;
}
.nav-list {
border : #ccc solid 1px;
margin : 0 auto 20px;
padding-right : 15px;
padding-left : 15px;
margin-bottom : 0;
}
.nav-list > li > a, .nav-list > li > .menus, .nav-list .nav-header {
margin-right : -15px;
margin-left : -15px;
}
.nav-list > li {
line-height : 25px;
text-align : right;
color : #333;
}
.nav-list > li > a {
padding : 3px 15px;
}
.nav-list > li > a:hover {
border-right : 3px solid #d8d8d8;
color : #333;
background : #fafafa;
}
.nav-list > li > .menus {
padding : 3px 15px;
color : #333;
border-bottom : 1px solid #ccc;
background : #f7f7f7;
}
.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
color : #333;
border-right : 3px solid #d8d8d8;
background : #eee;
}
.searchbox {
overflow-y : scroll;
width : 120px;
height : 158px;
border : #eee solid 1px;
}
.searchright {
color : #565656;
padding : 8px;
font-size : 11px;
}
.select_search {
height : 100px;
width : 165px;
border : #ccc solid 1px;
overflow-y: auto;
}
.searchtitel {

margin-top : 23px;
padding : 6px;
border : #ccc solid 1px;
width : 153px;
background : #f8f8f8;
}
.titel-search {
padding : 3px 3px 5px;
width : 159px;
border : #ccc solid 1px;
border-bottom : 0;
background : #f9f9f9;
}
.titel-index {
padding : 3px 3px 5px;
width : 200px;
border : #ccc solid 1px;
border-bottom : 0;
background : #f9f9f9;
}
.select_index {
height : 100px;
width : 206px;
border : #ccc solid 1px;
}
.select_index > span {
text-align : center;
display : block;
margin-left : auto;
margin-right : auto;
}
.titel-index > img {
display : block;
margin-left : auto;
margin-right : auto;
}
.searcha {
padding-right : 4px;
}
.select_search > .searcha:hover {
text-decoration : none;
display : block;
color : #fff;
background : #39f;
}
.select_search > .searcha {
display : block;
text-decoration : none;
}
.select_search .adelete:hover {
text-decoration : underline;
}
.close {
float : right;
font-size : 20px;
font-weight : 700;
color : #000;
opacity : 0.20000000298023223876953125;
}
.close:hover, .close:focus {
color : #000;
text-decoration : none;
cursor : pointer;
opacity : 0.4000000059604644775390625;
}
#div1 {
width : 720px;
}
button.close {
padding : 0;
cursor : pointer;
background : none;
border : 0;
}
.alert {
color : #000;
padding : 16px 35px 12px 14px;
border-bottom-style : dashed;
border-bottom : 1px dashed #bfbfbf;
font : 16px Arial;
background : #f2f1ef;
}
.modal-body {
position : relative;
 
padding : 15px;
overflow-y : auto;
background : #fff;
}
.btn {
display : inline-block;
padding : 6px 12px;
margin-bottom : 0;
text-align : center;
white-space : nowrap;
vertical-align : middle;
cursor : pointer;
border : transparent solid 1px;
border-radius : 4px;
font : 400 13px/1.42857143 "tahoma";
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
outline : thin dotted;
outline-offset : -2px;
}
.btn:hover, .btn:focus, .btn.focus {
color : #333;
text-decoration : none;
}
.btn:active, .btn.active {
outline : 0;
box-shadow : 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}
.btn-success {
color : #fff;
border-color : #4cae4c;
background : #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
color : #fff;
border-color : #398439;
background : #449d44;
}
.btn-info {
color : #fff;
border-color : #46b8da;
background : #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active {
color : #fff;
border-color : #269abc;
background : #31b0d5;
}
.btn-info .badge {
color : #5bc0de;
background : #fff;
}
.btn-warning {
color : #fff;
border-color : #eea236;
background : #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active {
color : #fff;
border-color : #d58512;
background : #ec971f;
}
.btn-warning .badge {
color : #f0ad4e;
background : #fff;
}
.btn-danger {
color : #fff;
border-color : #d43f3a;
background : #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active {
color : #fff;
border-color : #ac2925;
background : #c9302c;
}
.padding_right {
padding : 10px 20px;
}
.item {
width : 700px;
padding-right : 12px;
padding-left : 12px;
}
ul {
color : #191919;
margin-right : -18px;
}
.iteminc {
margin-right : 80px;
}
p.plin {
padding-bottom : 1px;
color : #333;
width : 980px;
margin-top : 20px;
margin-right : 20px;
margin-bottom : 20px;
border-top : 1px solid #e0e0e0;
}
.cvview tr td {
vertical-align : top;
}
.cvinfo {
vertical-align : top;
padding : 10px;
border-right : 2px solid #e0e0e0;
border-top-left-radius : 10px;
width : 260px;
background : #f6f6f6;
}
.titleinfo {
font-weight : 700;
color : #3d3d3d;
}
.textdesc {
line-height : 18px;
color : #3d3d3d;
}
.chose {
margin-right : 80px;
}
span.validation {
margin-right : 20px;
color : #b41f2b;
}
span.loading {
margin-right : 20px;
font-style : italic;
left : 5px;
position : relative;
}
.btns {
margin-right : 160px;
margin-top : 15px;
}
.btninsert {
margin-right : 130px;
margin-top : 20px;
}
.iteminli input {
padding-right : 2px;
padding-bottom : 3px;
}
.iteminli tr {
padding-right : 2px;
height : 35px;
}
.iteminli {
height : 40px;
margin-top : 16px;
position : relative;
}
.iteminli .control-label {
padding-right : 1px;
float : right;
width : 120px;
text-align : right;
font : 12px "tahoma";
}
.itemin {
margin-right : 30px;
}
.margin-topp {
margin-top : 5px;
}
p.pline {
padding-bottom : 1px;
color : #333;
margin-top : 20px;
margin-bottom : 20px;
border-top : 1px solid #e0e0e0;
padding-bottom : 1px;
color : #333;
width : 920px;
margin-top : 20px;
margin-bottom : 20px;
border-top : 1px solid #d2d7d3;
}
p.plinee {
padding-bottom : 1px;
color : #333;
width : 706px;
margin-top : 10px;
margin-bottom : 20px;
border-top : 1px solid #d2d7d3;
}
p.plineee {
padding-bottom : 1px;
color : #333;
width : 700px;
margin-top : 20px;
margin-bottom : 20px;
border-top : 2px solid #d2d7d3;
}
.to .topp {
margin-top : 10px;
}
h4 {
color : #29abe2;
font : 16px "tahouma";
    
}
img {
border : 0;
}
#headerc {
height : 40px;
width : 980px;
padding : 0;
border-top : 1px solid #ccc;
border-right : 1px solid #ccc;
border-left : 1px solid #ccc;
margin : 0 auto;
background : #fff;
}
#headerc > div {
text-align : right;
}
.textb {
font-weight : 700;
font-size : 14px;
color : #444343;
}
.textlines {
line-height : 20px;
}
.textlineb {
line-height : 28px;
}
.texts {
margin : 14px 0;
color : #63707e;
}
.textssearch {
line-height : 20px;
margin : 14px 0;
color : #505050;
}
.textsss {
color : #63707e;
margin : 14px 0;
font-size : 12px;
}
.textsfooter {
color : #858585;
margin : 14px 0;
}
.textbfooter {
font-weight : 700;
color : #9a9fa3;
margin : 14px 0;
}
.textbbfooter {
font-weight : 700;
color : #9a9fa3;
margin : 14px 0;
}
.textd {
font-weight : 700;
margin : 14px 0;
font-size : 12px;
color : #444343;
}
.texttt {
float : right;
font-size : 13px;
color : #6c7a89;
}
input[type="text"]:disabled {
background : #ddd;
}
.post {
width : 700px;
font-weight : 700;
height : 26px;
background : #eee;
padding-top : 10px;
padding-right : 8px;
color : #333;
border-bottom : 1px solid #ccc;
}
.imgjob {
width : 150px;
height : 90px;
border : #eee solid 1px;
padding : 10px;
}
.imgseeker {
width : 140px;
height : 140px;
border : #e0e0e0 solid 1px;
padding : 4px;
}
.imgview {
width : 100px;
height : 100px;
border : #e0e0e0 solid 1px;
}
.insearch {
padding-bottom : 8px;
border-bottom : 1px solid #eee;
}
.imgmsg {
width : 13px;
height : 13px;
}
#headerpro {
width : 700px;
height : 144px;
}
#header {
height : 100px;
margin : 0 auto 15px;
background : #fff;
}
.hed {
width : 940px;
margin : 0 auto;
padding-top : 6px;
}
.had {
width : 940px;
margin : 0 auto;
padding-top : 10px;
padding-bottom : 10px;
border-bottom : 1px solid #7f8c8d;
}
#logo {
float : right;
margin-top : 7px;
padding : 1px;
}
#logopro {
float : right;
padding : 2px;
}
#profilelist {
list-style : none;
margin-left : 20px;
display : inline-block;
}
#profilelist li {
float : left;
margin-left : 10px;
}
#navigation {
float : left;
line-height : 15px;
vertical-align : middle;
display : inline-block;
list-style : none;
margin-left : 2px;
padding : 0;
}
#navigation li {
color : #7f8c8d;
float : right;
margin : 0 1px;
}
.btnTest {
background : url(singup.png) left center no-repeat;
padding-left : 20px;
}
.ss {
color : #fff;
}
#navigation li a {
padding : 5px 8px 10px;
color : #7f8c8d;
font-size : 12px;
margin : 8px;
text-decoration : none;
}

#navigation li.selected a, #navigation li a:hover {
color : #333;
background : #e9eaed;
border-bottom : 3px solid #e9eaed;
border-radius : 10px 10px 0 0;
text-shadow : none;
}
.req {
color : #dc5656;
}
#wrap {
text-align : center;

background : #FFF;
width : 615px;
margin : 0 auto;
margin-top : 15px;
border : #dfdfdf solid 1px;
}

.statusmsg {
font-size : 12px;
padding : 3px;
background : #ededed;
border : #dfdfdf solid 1px;
}
.error {
display : block;
color : #a30000;
font-size : 12px;
padding : 3px;
background : #fcc;
border : #a30000 solid 1px;
}
.truee {
display : block;
color : #333;
font-size : 12px;
padding : 3px;
background : #ebf8a4;
border : #a2d246 solid 1px;
}
button {
font-family : "tahoma";
border : #d1d1d1 solid 1px;
}
textarea, select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
border : #d1d1d1 solid 1px;
display : inline-block;
height : 22px;
width : 250px;
color : #555;
vertical-align : middle;
border-radius : 1px;
font : 12px "tahoma";
}
.day select {
display : inline-block;
height : 25px;
width : 59px;
font-size : 12px;
color : #555;
vertical-align : middle;
}
.search select {
display : inline-block;
height : 25px;
width : 110px;
font-size : 12px;
color : #555;
vertical-align : middle;
}
.exp select {
display : inline-block;
height : 25px;
width : 119px;
font-size : 12px;
color : #555;
vertical-align : middle;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
border : #d1d1d1 solid 1px;
background : #fff;
}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
border-color : #0a96e7;
outline : 0;
}
.edit a {
background : url(../images/a.png);
}
span.checked {
background : url(../images/checked.png) top left no-repeat;
position : absolute;
top : 0;
left : 1px;
width : 20px;
height : 20px;
}
span.error {
background : url(../images/error.png) top left no-repeat;
position : absolute;
top : 0;
left : 1px;
width : 20px;
height : 20px;
}
fieldset {
border-top : 1px solid #b1d1d1;
border-bottom : none;
border-left : none;
border-right : none;
}
legend {
font-weight : 700;
padding : 0.2em 0.5em;
border : #b1d1d1 solid 1px;
color : #333;
font-size : 11px;
text-align : right;
}
.control-label {
font-weight : 700;
padding-right : 1px;
color : #404040;
float : right;
width : 50px;
text-align : right;
}
.control-labe {
font-size : 12px;
font-weight : 700;
padding-right : 1px;
color : #404040;
float : right;
width : 160px;
text-align : right;
}
.imgu {
margin : 3px;
border : #e8e8e8 solid 1px;
}
.table-bordered {
text-align : center;

}
.tabe {
text-align : right;
font-family : "tahoma";
border-collapse : separate;
border-collapse : collapse;
border-left : 0;
border-radius : 4px;
background : #fffffd;
}
.tblmm {
text-align : right;
}
table.tabe td {
border-bottom : 1px solid #f8f8f8;
padding : 5px;
width : 300px;
}
table.tabe .last {
border-bottom : none;
}
.delete_text {
font-size : 14px;
}
.table-bordered th {
background : #e8e8e8;
font-style : normal;
}
table.tblm th {
text-align : center;
font-weight : 400;
background : #e8e8e8;
}
.textcenter tr > td {
text-align : right;
}
table.tblm {
border-collapse : collapse;
}
.tablejob {
border-bottom : 2px solid #c8c8c8;
text-align : right;
border-collapse : collapse;
}
table.tblm td, table.tblm th {
border : #b4b4b4 solid 1px;
padding : 5px;
}
table.tablejob td {
border-top : 1px solid #c8c8c8;
border-bottom : 1px solid #eee;
padding : 8px;
vertical-align : top;
}
table.tablejob td:first-child, table.tablejob th:first-child {
border-right : 1px solid #c8c8c8;
padding-right : 5px;
}
table.tablejob td:last-child, table.tablejob th:last-child {
border-left : 1px solid #c8c8c8;
}
.tablejob th {
border-bottom : 1px solid #b4b4b4;
}
table#t01 tr:nth-child(even) {
background : #fbfbfb;
}
.pointer {
cursor : pointer;
}
table#t01 tr:nth-child(odd) {
background : #fff;
}
table#t01 th {
color : #000;
background : #fff;
}
.tblm tr {
height : 40px;
}
.title {
font-size : 14px;
font-weight : 700;
}
.group:after {
content : "";
display : table;
clear : both;
}
.search {
border : #eee solid 1px;
padding : 12px 5px 2px;
width : 685px;
background : #fff;
}
.box-offset {
background : #333;
border : #d4d4d4 solid 1px;
}
table ul {
margin : 0;
padding : 0;
list-style-type : none;
}
table ul li {
margin-top : 12px;
color : #484848;
}
h1 {
font-size : 36px;
}
h2 {
font-size : 21px;
}
h3 {
font : 20px "Times New Roman";
}
h5 {
font-size : 14px;
}
h6 {
font-size : 12px;
}
textarea {
resize : none;
resize : vertical;
max-height : 400px;
min-height : 150px;
}
h1, h2, h3, h4, h5, h6 {
font-family :"tahoma";
color : #2c3e50;
}
a {
color : #1c779e;
text-decoration : none;
}
a:hover {
text-decoration : underline;
}
.text-subtle {
color : #999;
}
.labbb {
font-size : 14px;
color : #333;
}
.iteminli .tooltip{float:right; right:10px; margin-bottom:2px; position:relative; z-index:2}
.iteminli .tooltip:hover{z-index:3}
.iteminli .tooltip>span{display:inline-block; width:16px; height:16px; line-height:16px; font-size:.9em; font-weight:bold; text-align:center; color:#FFF; cursor:help; background-color:#00aeef; position:relative; border-radius:10px}
.iteminli .tooltip .content{opacity:0; width:200px; background-color:#fff7c0; color:#333; font-size:.9em; position:absolute; top:0; left:20px; padding-right:8px; border-radius:6px; pointer-events:none; border:1px solid #ead96e}
.iteminli .tooltip p{padding:0}
.iteminli .tooltip.down .content{right:auto; left:0; top:30px}
.iteminli .tooltip:hover .content{opacity:1; right:36px}
.iteminli .tooltip .content b{height:0; width:0; border-color:#ead96e transparent transparent #ead96e; border-style:solid; border-width:9px 7px; position:absolute; right:-14px; top:8px}
.iteminli.tooltip.down .content b{right:auto; left:6px; top:-10px; border-width:5px; border-color:#333 transparent transparent #333}

ul#tabnav {
text-align : right;
margin : 1em 0;
font : 12px tahoma;
border-bottom : 1px solid #ccc;
list-style-type : none;
padding : 3px 10px;
}
ul#tabnav li {
display : inline;
}
ul#tabnav li a {
padding : 3px 4px;
border : #ccc solid 1px;
color : #666;
margin-right : 0;
text-decoration : none;
border-bottom : none;
background : #eee;
}
ul#tabnav a:hover {
background : #fff;
}
#tabnav li.se a {
background : #fff;
}
.pagen {
color : #829994;
}
.pagen a {
color : #333;
display : inline-block;
padding : 5px 10px;
border : #ccc solid 1px;
text-decoration : none;
margin-left : 4px;
}
.pagen a:hover, .pagen a.current {
background : #eee;
color : #333;
}
